.forYou {
  &::before {
    content: '';
    display: block;
    width: 450px;
    height: 720px;
    background: linear-gradient(
      30.78deg,
      #c07a92 19.16%,
      #863999 41.17%,
      #3c1046 59.12%
    );
    opacity: 0.15;
    filter: blur(75px);
    transform: rotate(57.37deg);
    position: absolute;
    pointer-events: none;
    z-index: 1;
    left: 0;
  }

  .container {
    padding: 60px 0 5px;
    position: relative;
    height: 100vh;
    overflow: hidden;

    > h3 {
      opacity: 0;
      position: absolute;
      text-transform: uppercase;
      top: 15px;
      left: 30%;
      transform: translate(-100px, 0);
    }

    .cases {
      width: 100%;
      height: 100%;
      display: flex;
      z-index: 2;
      position: relative;

      .case {
        height: 100%;
        display: flex;
        transition: all 1s ease;

        &.active {
          .caseHead {
            border-color: rgb(0, 0, 0, 0);

            .caseHeadInfo {
              opacity: 0;
            }

            &::before {
              opacity: 0;
            }

            span {
              scale: 1.2;
              color: #ffffff;
            }
          }

          .caseBody {
            opacity: 1;

            h4 {
              animation: fadeInLeft 1s forwards ease 0.7s !important;
            }

            .image {
              animation: fadeInScale 1s forwards ease 0.2s !important;
            }

            .bodyInfo {
              animation: fadeInBottom 1s forwards ease 0.7s;
            }
          }
        }

        .caseBody {
          width: 0px;
          transition: 1.5s ease;
          transition-property: width, opacity;
          position: relative;

          .bodyInfo {
            opacity: 0;
            transform: translate(0, 100px);
            animation: fadeOutBottom 0.25s forwards ease;
          }

          .wrap {
            max-width: 475px;
            margin: 100px 0 0 100px;
            position: relative;

            @media (max-width: 1750px) {
              max-width: 400px;
            }

            div {
              padding-top: 15px;
              display: flex;
              gap: 100px;
              align-items: start;
              line-height: 119%;

              a {
                text-decoration-line: underline;
                white-space: nowrap;
                color: #f3f3f3;
                opacity: 0.8;
              }

              p {
                color: #f3f3f3;
                opacity: 0.8;
              }
            }

            h4 {
              mix-blend-mode: difference;
              max-width: 360px;
              width: 100%;
              position: absolute;
              top: -40px;
              z-index: 123;
              opacity: 0;
              transform: translate(-100px, 0);
              animation: fadeOutLeft 0.5s forwards ease;
            }

            .image {
              width: 100%;
              height: 350px;
              object-fit: cover;
              opacity: 0;
              transform-origin: center;
              transition: all 1s ease;
              transform: scale(0.5);

              animation: fadeOutScale 0.5s forwards ease;
            }
          }
        }

        .caseHead {
          border: 1.5px solid #0d0d0e;
          height: 100%;

          width: 90px;
          padding: 60px 0 50px;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          justify-content: space-between;
          position: relative;
          transform: matrix(1, 0, 0, -1, 0, 0);

          transition: all 1s ease;

          font-weight: 400;
          font-size: 18px;
          line-height: 119%;
          text-align: center;
          color: rgb(255, 255, 255, 0.4);

          &::before {
            content: '';
            display: block;
            background: linear-gradient(
              24.08deg,
              #181818 11.62%,
              #000000 99.48%
            );
            opacity: 1;
            transition: opacity 1s ease;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }

          .caseHeadInfo {
            transition: opacity 0.7s ease;
          }

          span {
            transition: all 0.5s ease;
            transform: matrix(1, 0, 0, -1, 0, 0);
          }

          div {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 35px;

            svg {
              transform: matrix(1, 0, 0, -1, 0, 0);
            }

            small {
              transform: matrix(1, 0, 0, -1, 0, 0) rotate(-180deg);
              writing-mode: vertical-lr;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeOutBottom {
  from {
    transform: none;
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate(0, 100px);
  }
}

@keyframes fadeInBottom {
  from {
    transform: translate(0, 100px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translate(125px, 0);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeOutLeft {
  from {
    transform: none;
    opacity: 1;
  }

  to {
    transform: translate(125px, 0);
    opacity: 0;
  }
}

@keyframes fadeInScale {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutScale {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.5);
    opacity: 0;
  }
}
