.header {
  width: 100%;
  padding: 45px 60px 0;
  opacity: 0;
  position: relative;
  z-index: 11;

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menuButton {
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;

      &.active {
        path[id='anim-path'] {
          translate: 100px 0;
          opacity: 0;
        }
      }

      svg {
        cursor: pointer;

        path {
          transition: 1.25s ease;
          transition-property: opacity, translate;
        }
      }
    }
  }
}
