.header {
  width: 100%;
  padding: 45px 60px 0;

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menuButton {
      display: flex;
      align-items: center;
      gap: 20px;

      svg {
        cursor: pointer;
      }
    }
  }
}
