.impressions {
  position: relative;

  .rgb {
    position: absolute;
    top: 0;
    width: 800px;
    height: 800px;
    right: 10%;
    mix-blend-mode: darken;
    z-index: -10;
    opacity: 0;
    transition: opacity 1s ease;

    @media (max-width: 480px) {
      width: 360px;
      height: 386px;
      top: 50%;
      translate: 0 -50%;
      right: 0;
    }
  }

  h4 {
    width: fit-content;
    margin: 0 auto;
    color: #ffffff;
    opacity: 0;
  }

  &Carousel {
    width: 100%;
    rotate: -7deg;

    @media (max-width: 480px) {
      overflow: visible !important;
      translate: -50px 0;
    }

    .carouselItem {
      opacity: 0.1;
      user-select: none;
      transition: opacity 0.35s ease;
      width: 640px;
      height: 350px;
      border-radius: 13.3084px;

      img {
        width: 100%;
        height: 100%;

        @media (max-width: 480px) {
          height: 160px !important;
          max-height: 160px;
        }
      }

      @media (max-width: 1750px) {
        width: 500px;
        height: 325px;
      }

      @media (max-width: 1600px) {
        height: 300px;
      }

      @media (max-width: 1400px) {
        height: 275px;
      }

      @media (max-width: 1280px) {
        width: 275px;
        height: 225px;
      }

      @media (max-width: 480px) {
        width: 280px;
        height: 160px !important;
        max-height: 160px;
      }
    }

    .active {
      opacity: 1;
    }
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    height: 100%;
  }

  .downloadBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10.5px;
    padding: 10px;
    min-width: 340px;
    width: fit-content;
    height: 95px;
    box-shadow: 0px 4px 16px rgba(60, 60, 60, 0.07);
    border-radius: 79px;
    background-color: #fff;
    opacity: 0;
    transform: scale(0.7);
    transition: 0.5s ease;
    transition-property: transform, opacity;

    @media (max-width: 1750px) {
      height: 75px;
      min-width: 300px;
    }

    @media (max-width: 1400px) {
      height: 60px;
      min-width: 200px;
      font-size: 12px;
      gap: 6.5px;
    }

    img {
      transform: translate(0, 4px);

      @media (max-width: 1400px) {
        max-width: 25px;
        transform: translate(0, 2px);
      }
    }
  }
}
