@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css');

* {
  cursor: none !important;
}

body {
  font-family: 'Plus Jakarta Display', sans-serif;
  font-weight: 400;
  background: #0d0d0e;
}

h1,
h2,
h3,
h4 {
  line-height: 120%;
}

h1 {
  font-size: 100px;
  text-transform: uppercase;
  color: #f6f6f6;
  font-weight: 400;

  @media (max-width: 1750px) {
    font-size: 80px;
  }

  @media (max-width: 1600px) {
    font-size: 65px;
  }

  @media (max-width: 1400px) {
    font-size: 60px;
  }

  @media (max-width: 1280px) {
    font-size: 50px;
  }
}

h2 {
  font-weight: 400;
  font-size: 68px;
  color: #f7f7f7;

  @media (max-width: 1750px) {
    font-size: 55px;
  }

  @media (max-width: 1400px) {
    font-size: 50px;
  }

  @media (max-width: 1280px) {
    font-size: 45px;
  }
}

h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 119%;
  color: rgb(255, 255, 255, 0.6);

  @media (max-width: 1600px) {
    font-size: 26px;
  }

  @media (max-width: 1400px) {
    font-size: 22px;
  }
}

h4 {
  font-weight: 400;
  font-size: 68px;
  text-transform: uppercase;
  color: #ffffff;

  @media (max-width: 1750px) {
    font-size: 54px;
  }

  @media (max-width: 1750px) {
    font-size: 50px;
  }

  @media (max-width: 1400px) {
    font-size: 40px;
  }

  @media (max-width: 1280px) {
    font-size: 36px;
  }
}

input::placeholder {
  color: inherit;
  font-size: inherit;
  font-family: 'Plus Jakarta Display', sans-serif;
}

input:focus {
  outline: none;
}

.fp-watermark {
  display: none;
}

.clip-svg {
  position: absolute;
  z-index: -3;
  opacity: 0;
  pointer-events: none;
}

p {
  font-size: 14px;
  line-height: 119%;
  color: rgb(246, 246, 246, 0.9);

  @media (max-width: 1750px) {
    font-size: 12px;
  }

  @media (max-width: 1280px) {
    font-size: 10px;
  }
}

button {
  font-family: 'Plus Jakarta Display', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 119%;
  cursor: pointer;

  &.black {
    color: #ffffff;
    background: #0d0d0e;
    padding: 10px;
    height: 45px;
    border-radius: 80px;
  }
}

.arrow {
  cursor: pointer;
  display: inline-block;
}

.line {
  background-color: rgba(255, 255, 255, 0.4);
  width: 0px;
  height: 1px;
  transition: width 1.5s ease;
}

.label {
  opacity: 0;
  transition: opacity 0.5s ease;
  display: block;
  font-size: 15px;
  line-height: 119%;
  text-transform: uppercase;
  color: rgb(138, 138, 138, 0.6);

  @media (max-width: 1280px) {
    font-size: 12px;
  }
}

.full-flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 15px 65px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  &:active {
    color: inherit;
  }

  &:not(:visited) {
    color: inherit;
  }

  &:visited {
    color: inherit;
  }
}

.section {
  height: 100vh;

  .fp-overflow {
    height: 100%;
  }
}
