.news {
  position: relative;
  .svg {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease 0.5s;
  }

  .newsHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 65px 0;
    height: 20vh;
    opacity: 0;

    .sort {
      width: 445px;

      .line {
        opacity: 0.4;
        border: 1px solid #ffffff;
        margin-top: 30px;
      }

      .sortHead {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
          cursor: pointer;
        }

        .sortValue {
          font-weight: 500;
          font-size: 24px;
          line-height: 139.5%;
          color: #f3f3f3;
          text-transform: uppercase;
        }
      }
    }
  }

  .newsBody {
    height: 80vh;
    overflow: hidden;
    border-top: 1px solid rgb(255, 255, 255, 0.3);
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    display: flex;
    opacity: 0;
    transition: opacity 1s ease;

    .controlPanel {
      width: 18%;
      min-width: 18%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid rgb(255, 255, 255, 0.4);

      padding: 84px 44px 60px 60px;

      @media (max-width: 1750px) {
        padding: 60px 15px 60px 30px;
      }

      .categories {
        margin-top: 27px;
        width: 100%;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        .category {
          padding: 9px 24px;
          height: 35px;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1.5px solid rgba(255, 255, 255, 0.5);
          border-radius: 30px;
          cursor: pointer;
          background-color: transparent;
          transition: 0.5s ease;
          transition-property: background-color, opacity, scale;
          scale: 0.7;
          opacity: 0;
          text-transform: capitalize;

          &.active {
            background: #ffffff;
            border: 1.5px solid rgba(255, 255, 255);

            p {
              color: #000;
            }
          }

          p {
            transition: color 0.5s ease;
            line-height: 100% !important;
          }
        }
      }

      .arrows {
        display: flex;
        gap: 26px;
        margin-top: auto;

        .arrow {
          width: 55px;
          height: 55px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: opacity 0.5s ease;
          border: 1.525px solid #ffffff;
          border-radius: 50%;
          cursor: pointer;
          opacity: 0;
          // transition-delay: 0.5s;

          &:hover {
            opacity: 0.5 !important;
          }
        }
      }
    }

    .newsWrapper {
      width: 100%;
      display: flex;

      .newsItem {
        position: relative;
        height: 100%;
        width: 500px;
        display: flex;
        flex-direction: column;
        min-width: 500px;
        padding: 75px 0 60px 60px;
        border-right: 1px solid rgb(255, 255, 255, 0.4);
        transition: opacity 1s ease;
        opacity: 0;

        @media (max-width: 1750px) {
          min-width: unset !important;
        }

        .newsArrow {
          position: absolute;
          top: 65px;
          right: 30px;
        }

        .newsNumber {
          position: absolute;
          top: 65px;
          right: 155px;
          color: #525252;
          opacity: 0.9;
        }

        .newsPicture {
          width: 215px;
          height: 240px;
          object-fit: contain;
        }

        h3 {
          color: #ffffff;
          max-width: 255px;
        }

        .newsText {
          color: #7a7a7a;
          max-width: 180px;
          margin: 30px 0 50px;
        }

        .newsLabel {
          color: #f3f3f3;
          text-transform: uppercase;
          margin-top: auto;
          opacity: 0.4;
        }
      }
    }
  }
}
